.log {
  margin-left: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.home {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  height: 35px;
  margin-bottom: 15px;
}

.home p {
  margin-top: 1px;
  margin-left: 18px;
  font-weight: 500;
  font-size: 1.3em;
}

.search {
  display: flex;
  margin-left: 10px;
  height: 35px;
  margin-bottom: 15px;
}

.search p {
  margin-left: 18px;
  font-weight: 500;
  font-size: 1.3em;
}

.notification {
  display: flex;
  margin-left: 10px;
  height: 35px;
  margin-bottom: 15px;
}

.notification p {
  margin-left: 18px;
  font-weight: 500;
  font-size: 1.3em;
}

.message {
  display: flex;
  margin-left: 10px;
  height: 35px;
  margin-bottom: 15px;
}

.message p {
  margin-left: 18px;
  font-weight: 500;
  font-size: 1.3em;
}

.list {
  display: flex;
  margin-left: 10px;
  height: 35px;
  margin-bottom: 15px;
}

.list p {
  margin-left: 18px;
  font-weight: 500;
  font-size: 1.3em;
}

.communities {
  display: flex;
  margin-left: 10px;
  height: 35px;
  margin-bottom: 15px;
}

.communities p {
  margin-left: 18px;
  font-weight: 500;
  font-size: 1.3em;
}

.premium {
  display: flex;
  margin-left: 6px;
  height: 35px;
  margin-bottom: 15px;
}

.premium p {
  margin-left: 18px;
  font-weight: 500;
  font-size: 1.3em;
}

.profile {
  display: flex;
  margin-left: 6px;
  height: 35px;
  margin-bottom: 15px;
}

.profile p {
  margin-left: 23px;
  font-weight: 500;
  font-size: 1.3em;
}

.more {
  display: flex;
  margin-left: 6px;
  height: 35px;
  margin-bottom: 15px;
}

.more p {
  margin-left: 23px;
  font-weight: 500;
  font-size: 1.3em;
}

.post button {
  background-color: rgb(16, 143, 255);
  border-radius: 40px;
  border: 1px solid black;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 50px;
  width: 250px;
}

.userProfile {
  margin-top: 110px;
}

.post button a {
  background-color: transparent;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.rounded-image {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  margin-right: 10px;
  object-fit: cover;
}

.left-container {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 135px;
}

.navContainer {
  border: 1px solid rgba(82, 81, 81, 0.621);
  width: 620px;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 401px;
}

.navContainer h4 {
  padding: 10px;
}

.following {
  display: flex;
  padding: 3px;
  justify-content: space-around;
  font-family: sans-serif;
}

.forYou {
  border-bottom: 3px solid rgb(16, 143, 255);
}

.postContainer {
  border: 1px solid rgba(82, 81, 81, 0.621);
  width: 620px;
  margin-top: 106px;
}

.topImage {
  margin-right: 20px;
}

.middle-container {
  margin-right: 420px;
}

.what {
  padding: 20px;
  display: flex;
}

.input-container {
  margin: 5px 0;
}

.input-container input {
  border: none;
  width: 400px;
  padding: 5px 0;
  outline: none;
}

.input-container input:focus {
  border-bottom: 2px solid grey;
}

.thPost {
  background-color: rgb(16, 143, 255);
  border-radius: 40px;
  border: 1px solid black;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 35px;
  width: 80px;
  margin-left: 80px;
}

.low {
  display: flex;
  margin-top: 20px;
  margin-right: 150px;
  justify-content: space-between;
  width: 385px;
}

.themPosts {
  border: 1px solid rgba(82, 81, 81, 0.621);
  width: 620px;
}

.themData {
  padding: 20px;
}

.tImage {
  display: flex;
}

.tweetBody {
  margin-left: 50px;
}

.rightContainer {
    position: fixed;
}

.tweetOwner {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.tweetOwner p {
  margin-left: 10px;
  font-weight: lighter;
}


.rightContainer {
  margin-top: 10px;
}

.searchForm form  {
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
}

.searchForm form input {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(37, 37, 37);
    padding: 10px;
}