
.box {
    max-width: 250px;
    display: grid;
    place-items: center; 
}

.log {
    margin-top: 10px;
}

.buttonSix button{
    color: black;
    background-color: whitesmoke;
    border-radius: 40px;
    border: 1px solid black;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 38px;
    width: 300px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 7px;
}

.inputs {
    background-color: black;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.566);
    height: 40px;
    width: 300px;
    margin-top: 15px;
    margin-left: 5px;
}

.cnt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.userProfile {
    display: flex;
    margin-top: 80px;
  }  

.userName {
    margin-left: 8px;
    margin: 0;
    margin-top: 4px;
}

.userName h6 {
    font-family: sans-serif;
    margin: 0;
    font-weight: 500;
}

.userName p {
    font-weight: lighter;
}

.pMenu {
    margin-top: 10px;
    margin-left: 20px;
}




